NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=


APP_WEBHOOK_SECRET=troque-este-segredo
SYNC_ENDPOINT_SECRET=troque-este-segredo

APP_URL=http://localhost:3000




ALLOW_DEMO_SEED=false
ALLOW_DEMO_SEED=false
